:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --grayish-cyan: hsl(180, 52%, 96%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background: hsl(180, 52%, 96%);
  color: hsl(180, 8%, 52%);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
